@font-face {
  font-family: "OpenSans-Regular";
  src: url("/src/Assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Medium";
  src: url("/src/Assets/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/src/Assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/src/Assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("/src/Assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}