@import "../../Assets/scss/default-import";

/* APP STYLES */

.app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: remHandler(50) 0;
	position: relative;

	&__bg {
		width: 100%;
		height: 100%;
		background-color: #116cb5;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__container {
		width: remHandler(1345);
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}
}

@media screen and (max-width: 1367px) {
	.app {
		padding: remHandler(40) 0;

		&__container {
			width: remHandler(1200);
		}
	}
}